<h1>Signal</h1> 

<!-- <h1>{{num}}</h1>
<h1>{{data()}}</h1>
<button (click)="onClickBtn()">Click Me</button> -->


<!-- <button (click)="onClickBtn('dec')">Decrement</button>
<h1>{{data()}}</h1>
<button (click)="onClickBtn('inc')">Increment</button>

<hr>

<button (click)="data.set(data()-1)">Decrement</button>
<h1>{{data()}}</h1>
<button (click)="data.set(data()+1)">Increment</button> -->

<!-- <hr> -->

<!-- <h1>{{data()}}</h1>
<button (click)="onUpdate()">update</button> -->


<!-- <hr> -->


<h1>{{z()}}</h1>
<button (click)="onBtnClick()">click</button>