<app-counter></app-counter>

<hr style="height: 5px; background-color: purple;">
<app-get-and-set></app-get-and-set>

<hr style="height: 5px; background-color: purple;">
<app-ifelse></app-ifelse>

<hr style="height: 5px; background-color: purple;">
<app-elseif></app-elseif>

<hr style="height: 5px; background-color: purple;">
<app-switch></app-switch>

<hr style="height: 5px; background-color: purple;">
<app-for-loop></app-for-loop>

<hr style="height: 5px; background-color: purple;">
<app-signal-comp></app-signal-comp>

<hr style="height: 5px; background-color: purple;">
<app-to-do-list></app-to-do-list>